In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("ineuron.db")

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9CD5-FCE1

 Directory of C:\Users\mdimt

14-11-2022  15:31            36,257  12th Nov Live Class Functions revision.ipynb
25-11-2022  22:43    <DIR>          .
25-11-2022  22:43    <DIR>          ..
06-11-2022  21:59    <DIR>          .anaconda
06-11-2022  23:06    <DIR>          .conda
22-05-2021  01:35                25 .condarc
22-05-2021  01:35    <DIR>          .continuum
19-10-2022  20:09                53 .git-for-windows-updater
01-07-2021  23:01    <DIR>          .idlerc
25-11-2022  22:40    <DIR>          .ipynb_checkpoints
22-05-2021  01:39    <DIR>          .ipython
29-10-2022  16:59    <DIR>          .jupyter
06-06-2021  02:13    <DIR>          .matplotlib
26-10-2022  17:39    <DIR>          .spyder-py3
07-10-2022  21:43    <DIR>          .vscode
15-11-2022  22:42    <DIR>          __pycache__
28-10-2022  22:49        23,553,184 1.Python Fundamentals and Advanced Python.zip
14-11-2022  22:32            25,125 13th Nov Live Class Functions 4 revision.ipynb
25-11-2022  18:44    <DIR>          19.3 MongoDB
23-11-2022  20:02         4,407,102 19.3 MongoDB.7z
31-10-2022  17:35            21,059 29th Oct Live Class Function Basic Revision.ipynb
21-05-2021  04:09    <DIR>          3D Objects
22-05-2021  01:14    <DIR>          anaconda3
21-10-2022  00:42            10,061 Assignment_1.docx
18-11-2022  17:27            51,867 car.data
24-11-2022  16:37           628,633 carbon_nanotubes.csv
19-11-2022  23:43            19,879 class assignment oops.ipynb
21-05-2021  04:09    <DIR>          Contacts
01-07-2021  23:11    <DIR>          Credit Card Risk Assessment
20-10-2022  20:18            59,629 demo_002.ipynb
26-10-2022  15:57            57,559 demo_003.ipynb
20-10-2022  20:20            45,893 demo_2 live_classes_ineuron_revision.ipynb
15-11-2022  22:42                 0 dict.log
21-05-2021  04:18    <DIR>          Documents
24-11-2022  23:59    <DIR>          Downloads
19-11-2022  23:45            13,907 Exception Handling Class 2.ipynb
08-11-2022  21:26             9,192 Exception Handling Class1 Part1.ipynb
21-05-2021  04:09    <DIR>          Favorites
03-11-2022  00:26            10,428 For Loop & While Loops Revision.ipynb
03-11-2022  15:20            25,890 for loops while loop.ipynb
14-10-2022  00:42            10,742 FSDS_bootcamp_assignment_002_Oct_01.ipynb
28-10-2022  19:31             5,294 FSDS_bootcamp_assignment_004_Oct_09 (1).ipynb
07-11-2022  17:43            31,508 Function and holiday task.ipynb
06-11-2022  20:52            60,343 Function continued.ipynb
04-11-2022  02:08            18,716 function part1.ipynb
06-11-2022  00:28            62,066 function part2.ipynb
08-11-2022  14:44             1,763 functions task 20 question.txt
16-11-2022  23:44            11,903 glass.data
09-11-2022  22:09            43,659 holiday 20 assignment.ipynb
25-11-2022  19:39             8,192 ineuron.db
09-11-2022  17:43            23,501 Iterator Generator File System.ipynb
08-11-2022  02:20        21,685,761 iterator generator.ipynb
01-07-2021  23:12    <DIR>          Jedi
25-11-2022  19:04            12,288 jobdb.db
30-06-2021  14:39                 0 jupyter
12-05-2022  12:24    <DIR>          Links
26-10-2022  15:42             9,919 live_3demo_classes_ineuron_revision.ipynb
30-10-2022  00:07            16,593 live_classes_revision_29oct.ipynb
15-11-2022  22:24             5,993 logging (1).ipynb
10-11-2022  01:53             6,194 Logging class.ipynb
23-10-2022  00:20    <DIR>          Microsoft
19-11-2022  23:43            10,625 Module_Packages.ipynb
24-11-2022  16:59            75,694 mongo db class1 revision.ipynb
24-11-2022  20:39            57,341 mongodb class 1.ipynb
28-05-2022  11:32    <DIR>          Music
15-11-2022  22:55                 0 mydict.py
06-11-2022  23:23           163,679 nbextensions.ipynb
24-11-2022  17:09    <DIR>          OneDrive
13-11-2022  22:07            39,946 oops 29th .ipynb
15-11-2022  22:28            43,392 oops 30th.ipynb
19-11-2022  23:45            41,465 oops class 1.ipynb
13-11-2022  19:09            40,284 Oops class part2.ipynb
15-11-2022  22:29            44,127 OOPs Concepts Polymorphism revision.ipynb
19-11-2022  23:45            11,842 Oops part1 revision.ipynb
25-11-2022  19:39             8,192 person.db
23-06-2021  13:35            66,519 Pridiction Using Supervised ML.ipynb
24-10-2022  18:23            12,891 Programming_Assingment1.docx
11-11-2022  20:19    <DIR>          PycharmProjects
05-11-2022  21:58             6,891 Python Basic Assignment 3.ipynb
08-11-2022  20:09            12,206 Python Basic Assignment 4.ipynb
10-11-2022  21:05             5,807 Python Basic Assignment 5.ipynb
15-11-2022  02:10            10,370 Python Basic Assignment 6.ipynb
16-11-2022  19:53             5,038 Python Basic Program Assignment 6.ipynb
24-11-2022  17:23             5,372 Python Basic Program Assignment 7.ipynb
07-11-2022  16:48            11,860 Python Basic Programming Assignment 3.ipynb
11-11-2022  20:38             8,306 Python Basic Programming Assignment 4.ipynb
14-11-2022  00:30             6,153 Python Basic Programming Assignment 5.ipynb
03-11-2022  20:47            14,188 Python Basics Assignment 2.ipynb
19-11-2022  01:20            18,535 Python Basics Assignment 7.ipynb
24-11-2022  23:59            12,254 Python Basics Assignment 8.ipynb
30-10-2022  22:54             8,022 Python Basics Assignment_1.ipynb
01-11-2022  15:22             8,022 Python Basics Assignment1.ipynb
24-10-2022  19:21             4,080 Python Basics Program Assignment1.ipynb
27-10-2022  21:07             4,753 Python Basics Programming_Assignment_2.ipynb
21-05-2021  04:09    <DIR>          Saved Games
04-07-2021  01:33    <DIR>          seaborn-data
12-05-2022  12:24    <DIR>          Searches
23-11-2022  22:57                22 Setup.zip
18-11-2022  21:00            80,157 SQL basic .ipynb
19-11-2022  23:45           358,211 sql day 2 .ipynb
25-11-2022  22:43            85,520 SQL lite, map, reduce, filter,zip revision.ipynb
18-11-2022  19:21           118,377 SQL part 1 revision.ipynb
25-11-2022  16:21           315,007 SQL part2 revision.ipynb
25-11-2022  22:42            45,270 SQLLITE ,map ,reduce ,filter,zip.ipynb
28-07-2021  16:17           341,881 Statistics with data science project.ipynb
10-11-2022  01:52             1,807 test.log
03-07-2021  00:56             6,182 Test.png
08-11-2022  21:00                20 test.text
12-11-2022  15:45                 0 test1.py
13-11-2022  16:03                22 test1.txt
12-11-2022  20:51                 0 test2.py
13-11-2022  21:41                30 test2.tex
12-11-2022  15:39                 7 test3.py
12-11-2022  16:13                 0 test4.py
09-11-2022  20:02                 0 test43
24-06-2021  13:43            66,589 TSF GRIP Task 1 Imteyaz.ipynb
23-06-2021  14:11            66,518 TSF GRIP Task 1 Imteyaz-Copy1.ipynb
09-11-2022  19:26                22 tsst1.txt
06-07-2021  01:55             2,219 Tutorial 10- Seaborn- Countplot(), Violinplot(), Boxplot()- Part2.ipynb
03-07-2021  16:43           142,418 Tutorial 8- Matplotlib (Simple Visualization Library).ipynb
06-07-2021  01:46           355,324 Tutorial 9- Seaborn Tutorial- Distplot, Joinplot, Pairplot Part 1.ipynb
02-07-2021  19:54             5,906 Untitled.ipynb
21-10-2022  00:41                 0 untitled.txt
02-07-2021  22:10            14,709 Untitled1.ipynb
04-11-2022  18:57            19,366 Untitled10.ipynb
14-11-2022  23:35            12,197 Untitled11.ipynb
06-11-2022  21:12            11,238 Untitled12.ipynb
21-11-2022  01:34             3,746 Untitled13.ipynb
22-11-2022  20:43           130,669 Untitled14.ipynb
04-10-2022  11:20            14,811 Untitled2.ipynb
04-10-2022  11:12               711 Untitled3.ipynb
05-10-2022  21:35               576 Untitled4.ipynb
14-10-2022  00:57             1,579 Untitled5.ipynb
21-10-2022  23:29           172,211 Untitled6.ipynb
26-10-2022  17:27            15,421 Untitled7.ipynb
27-10-2022  00:43             1,329 Untitled8.ipynb
27-10-2022  19:16             2,164 Untitled9.ipynb
25-04-2022  08:56    <DIR>          Videos
22-05-2021  02:02                 0 where
24-11-2022  18:43         3,473,784 winrar-x64-611.exe
25-11-2022  16:18             5,947 Working with Python MongoDB Part1 revision.ipynb
             110 File(s)     57,619,999 bytes
              31 Dir(s)  188,766,060,544 bytes free

In [4]:
c=db.cursor()

In [5]:
c.execute("create table fsds(name text, batchid int, marks real)")

In [6]:
c.execute("insert into fsds values('sudh', 34535,454.67)")

In [7]:
c.execute("insert into fsds values('sudh', 34535,454.67)")
c.execute("insert into fsds values('sudh', 34535,454.67)")
c.execute("insert into fsds values('sudh', 34535,454.67)")
c.execute("insert into fsds values('sudh', 34535,454.67)")
c.execute("insert into fsds values('sudh', 34535,454.67)")
c.execute("insert into fsds values('sudh', 34535,454.67)")
c.execute("insert into fsds values('sudh', 34535,454.67)")
c.execute("insert into fsds values('sudh', 34535,454.67)")

In [8]:
data = c.execute("select * from fsds")

In [9]:
for i in data :
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [10]:
db.commit()

In [11]:
db.close()

In [12]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9CD5-FCE1

 Directory of C:\Users\mdimt

14-11-2022  15:31            36,257  12th Nov Live Class Functions revision.ipynb
25-11-2022  22:43    <DIR>          .
25-11-2022  22:43    <DIR>          ..
06-11-2022  21:59    <DIR>          .anaconda
06-11-2022  23:06    <DIR>          .conda
22-05-2021  01:35                25 .condarc
22-05-2021  01:35    <DIR>          .continuum
19-10-2022  20:09                53 .git-for-windows-updater
01-07-2021  23:01    <DIR>          .idlerc
25-11-2022  22:40    <DIR>          .ipynb_checkpoints
22-05-2021  01:39    <DIR>          .ipython
29-10-2022  16:59    <DIR>          .jupyter
06-06-2021  02:13    <DIR>          .matplotlib
26-10-2022  17:39    <DIR>          .spyder-py3
07-10-2022  21:43    <DIR>          .vscode
15-11-2022  22:42    <DIR>          __pycache__
28-10-2022  22:49        23,553,184 1.Python Fundamentals and Advanced Python.zip
14-11-2022  22:32            25,125 13th Nov Live Class Functions 4 revision.ipynb
25-11-2022  18:44    <DIR>          19.3 MongoDB
23-11-2022  20:02         4,407,102 19.3 MongoDB.7z
31-10-2022  17:35            21,059 29th Oct Live Class Function Basic Revision.ipynb
21-05-2021  04:09    <DIR>          3D Objects
22-05-2021  01:14    <DIR>          anaconda3
21-10-2022  00:42            10,061 Assignment_1.docx
18-11-2022  17:27            51,867 car.data
24-11-2022  16:37           628,633 carbon_nanotubes.csv
19-11-2022  23:43            19,879 class assignment oops.ipynb
21-05-2021  04:09    <DIR>          Contacts
01-07-2021  23:11    <DIR>          Credit Card Risk Assessment
20-10-2022  20:18            59,629 demo_002.ipynb
26-10-2022  15:57            57,559 demo_003.ipynb
20-10-2022  20:20            45,893 demo_2 live_classes_ineuron_revision.ipynb
15-11-2022  22:42                 0 dict.log
21-05-2021  04:18    <DIR>          Documents
24-11-2022  23:59    <DIR>          Downloads
19-11-2022  23:45            13,907 Exception Handling Class 2.ipynb
08-11-2022  21:26             9,192 Exception Handling Class1 Part1.ipynb
21-05-2021  04:09    <DIR>          Favorites
03-11-2022  00:26            10,428 For Loop & While Loops Revision.ipynb
03-11-2022  15:20            25,890 for loops while loop.ipynb
14-10-2022  00:42            10,742 FSDS_bootcamp_assignment_002_Oct_01.ipynb
28-10-2022  19:31             5,294 FSDS_bootcamp_assignment_004_Oct_09 (1).ipynb
07-11-2022  17:43            31,508 Function and holiday task.ipynb
06-11-2022  20:52            60,343 Function continued.ipynb
04-11-2022  02:08            18,716 function part1.ipynb
06-11-2022  00:28            62,066 function part2.ipynb
08-11-2022  14:44             1,763 functions task 20 question.txt
16-11-2022  23:44            11,903 glass.data
09-11-2022  22:09            43,659 holiday 20 assignment.ipynb
25-11-2022  22:43             8,192 ineuron.db
09-11-2022  17:43            23,501 Iterator Generator File System.ipynb
08-11-2022  02:20        21,685,761 iterator generator.ipynb
01-07-2021  23:12    <DIR>          Jedi
25-11-2022  19:04            12,288 jobdb.db
30-06-2021  14:39                 0 jupyter
12-05-2022  12:24    <DIR>          Links
26-10-2022  15:42             9,919 live_3demo_classes_ineuron_revision.ipynb
30-10-2022  00:07            16,593 live_classes_revision_29oct.ipynb
15-11-2022  22:24             5,993 logging (1).ipynb
10-11-2022  01:53             6,194 Logging class.ipynb
23-10-2022  00:20    <DIR>          Microsoft
19-11-2022  23:43            10,625 Module_Packages.ipynb
24-11-2022  16:59            75,694 mongo db class1 revision.ipynb
24-11-2022  20:39            57,341 mongodb class 1.ipynb
28-05-2022  11:32    <DIR>          Music
15-11-2022  22:55                 0 mydict.py
06-11-2022  23:23           163,679 nbextensions.ipynb
24-11-2022  17:09    <DIR>          OneDrive
13-11-2022  22:07            39,946 oops 29th .ipynb
15-11-2022  22:28            43,392 oops 30th.ipynb
19-11-2022  23:45            41,465 oops class 1.ipynb
13-11-2022  19:09            40,284 Oops class part2.ipynb
15-11-2022  22:29            44,127 OOPs Concepts Polymorphism revision.ipynb
19-11-2022  23:45            11,842 Oops part1 revision.ipynb
25-11-2022  19:39             8,192 person.db
23-06-2021  13:35            66,519 Pridiction Using Supervised ML.ipynb
24-10-2022  18:23            12,891 Programming_Assingment1.docx
11-11-2022  20:19    <DIR>          PycharmProjects
05-11-2022  21:58             6,891 Python Basic Assignment 3.ipynb
08-11-2022  20:09            12,206 Python Basic Assignment 4.ipynb
10-11-2022  21:05             5,807 Python Basic Assignment 5.ipynb
15-11-2022  02:10            10,370 Python Basic Assignment 6.ipynb
16-11-2022  19:53             5,038 Python Basic Program Assignment 6.ipynb
24-11-2022  17:23             5,372 Python Basic Program Assignment 7.ipynb
07-11-2022  16:48            11,860 Python Basic Programming Assignment 3.ipynb
11-11-2022  20:38             8,306 Python Basic Programming Assignment 4.ipynb
14-11-2022  00:30             6,153 Python Basic Programming Assignment 5.ipynb
03-11-2022  20:47            14,188 Python Basics Assignment 2.ipynb
19-11-2022  01:20            18,535 Python Basics Assignment 7.ipynb
24-11-2022  23:59            12,254 Python Basics Assignment 8.ipynb
30-10-2022  22:54             8,022 Python Basics Assignment_1.ipynb
01-11-2022  15:22             8,022 Python Basics Assignment1.ipynb
24-10-2022  19:21             4,080 Python Basics Program Assignment1.ipynb
27-10-2022  21:07             4,753 Python Basics Programming_Assignment_2.ipynb
21-05-2021  04:09    <DIR>          Saved Games
04-07-2021  01:33    <DIR>          seaborn-data
12-05-2022  12:24    <DIR>          Searches
23-11-2022  22:57                22 Setup.zip
18-11-2022  21:00            80,157 SQL basic .ipynb
19-11-2022  23:45           358,211 sql day 2 .ipynb
25-11-2022  22:43            85,520 SQL lite, map, reduce, filter,zip revision.ipynb
18-11-2022  19:21           118,377 SQL part 1 revision.ipynb
25-11-2022  16:21           315,007 SQL part2 revision.ipynb
25-11-2022  22:42            45,270 SQLLITE ,map ,reduce ,filter,zip.ipynb
28-07-2021  16:17           341,881 Statistics with data science project.ipynb
10-11-2022  01:52             1,807 test.log
03-07-2021  00:56             6,182 Test.png
08-11-2022  21:00                20 test.text
12-11-2022  15:45                 0 test1.py
13-11-2022  16:03                22 test1.txt
12-11-2022  20:51                 0 test2.py
13-11-2022  21:41                30 test2.tex
12-11-2022  15:39                 7 test3.py
12-11-2022  16:13                 0 test4.py
09-11-2022  20:02                 0 test43
24-06-2021  13:43            66,589 TSF GRIP Task 1 Imteyaz.ipynb
23-06-2021  14:11            66,518 TSF GRIP Task 1 Imteyaz-Copy1.ipynb
09-11-2022  19:26                22 tsst1.txt
06-07-2021  01:55             2,219 Tutorial 10- Seaborn- Countplot(), Violinplot(), Boxplot()- Part2.ipynb
03-07-2021  16:43           142,418 Tutorial 8- Matplotlib (Simple Visualization Library).ipynb
06-07-2021  01:46           355,324 Tutorial 9- Seaborn Tutorial- Distplot, Joinplot, Pairplot Part 1.ipynb
02-07-2021  19:54             5,906 Untitled.ipynb
21-10-2022  00:41                 0 untitled.txt
02-07-2021  22:10            14,709 Untitled1.ipynb
04-11-2022  18:57            19,366 Untitled10.ipynb
14-11-2022  23:35            12,197 Untitled11.ipynb
06-11-2022  21:12            11,238 Untitled12.ipynb
21-11-2022  01:34             3,746 Untitled13.ipynb
22-11-2022  20:43           130,669 Untitled14.ipynb
04-10-2022  11:20            14,811 Untitled2.ipynb
04-10-2022  11:12               711 Untitled3.ipynb
05-10-2022  21:35               576 Untitled4.ipynb
14-10-2022  00:57             1,579 Untitled5.ipynb
21-10-2022  23:29           172,211 Untitled6.ipynb
26-10-2022  17:27            15,421 Untitled7.ipynb
27-10-2022  00:43             1,329 Untitled8.ipynb
27-10-2022  19:16             2,164 Untitled9.ipynb
25-04-2022  08:56    <DIR>          Videos
22-05-2021  02:02                 0 where
24-11-2022  18:43         3,473,784 winrar-x64-611.exe
25-11-2022  16:18             5,947 Working with Python MongoDB Part1 revision.ipynb
             110 File(s)     57,619,999 bytes
              31 Dir(s)  188,766,040,064 bytes free

In [13]:
db=sqlite3.connect("ineuron.db")

In [14]:
c = db.cursor()

In [15]:
data = c.execute("select * from fsds where marks > 400")

In [16]:
for i in data :
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [17]:
data = c.execute("select * from fsds where name = 'sudh'")

In [18]:
for i in data :
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [19]:
data = c.execute("select name, marks from fsds")

In [20]:
for i in data :
    print(i)

('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)

In [21]:
data=c.execute("select name, marks from fsds order by marks")

In [22]:
for i in data:
    print(i)

('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)

In [23]:
db.close()

In [24]:
db = sqlite3.connect("person.db")

In [25]:
c = db.cursor()

In [26]:
c.execute("create table person_table(name text, emailid text, age int, salary real)")

OperationalError: table person_table already exists

In [27]:
c.execute("insert into person_table values('sudh', 'sudhanshu@ineuron.ai', 234,23424)")
c.execute("insert into person_table values('parshant', 'parshant@ineuron.ai', 345, 23543543)")
c.execute("insert into person_table values('krish', 'krish@ineuron.ai', 2345, 34534564)")
c.execute("insert into person_table values('sunny', 'sunny@ineuron.ai', 2354, 7789797)")

In [28]:
data = c.execute("select * from person_table")

In [29]:
for i in data :
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('parshant', 'parshant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunny', 'sunny@ineuron.ai', 2354, 7789797.0)
('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('parshant', 'parshant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunny', 'sunny@ineuron.ai', 2354, 7789797.0)
('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('parshant', 'parshant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunny', 'sunny@ineuron.ai', 2354, 7789797.0)
('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('parshant', 'parshant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunny', 'sunny@ineuron.ai', 2354, 7789797.0)

In [30]:
db.commit()

In [31]:
db.close()

In [32]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9CD5-FCE1

 Directory of C:\Users\mdimt

14-11-2022  15:31            36,257  12th Nov Live Class Functions revision.ipynb
25-11-2022  22:44    <DIR>          .
25-11-2022  22:44    <DIR>          ..
06-11-2022  21:59    <DIR>          .anaconda
06-11-2022  23:06    <DIR>          .conda
22-05-2021  01:35                25 .condarc
22-05-2021  01:35    <DIR>          .continuum
19-10-2022  20:09                53 .git-for-windows-updater
01-07-2021  23:01    <DIR>          .idlerc
25-11-2022  22:40    <DIR>          .ipynb_checkpoints
22-05-2021  01:39    <DIR>          .ipython
29-10-2022  16:59    <DIR>          .jupyter
06-06-2021  02:13    <DIR>          .matplotlib
26-10-2022  17:39    <DIR>          .spyder-py3
07-10-2022  21:43    <DIR>          .vscode
15-11-2022  22:42    <DIR>          __pycache__
28-10-2022  22:49        23,553,184 1.Python Fundamentals and Advanced Python.zip
14-11-2022  22:32            25,125 13th Nov Live Class Functions 4 revision.ipynb
25-11-2022  18:44    <DIR>          19.3 MongoDB
23-11-2022  20:02         4,407,102 19.3 MongoDB.7z
31-10-2022  17:35            21,059 29th Oct Live Class Function Basic Revision.ipynb
21-05-2021  04:09    <DIR>          3D Objects
22-05-2021  01:14    <DIR>          anaconda3
21-10-2022  00:42            10,061 Assignment_1.docx
18-11-2022  17:27            51,867 car.data
24-11-2022  16:37           628,633 carbon_nanotubes.csv
19-11-2022  23:43            19,879 class assignment oops.ipynb
21-05-2021  04:09    <DIR>          Contacts
01-07-2021  23:11    <DIR>          Credit Card Risk Assessment
20-10-2022  20:18            59,629 demo_002.ipynb
26-10-2022  15:57            57,559 demo_003.ipynb
20-10-2022  20:20            45,893 demo_2 live_classes_ineuron_revision.ipynb
15-11-2022  22:42                 0 dict.log
21-05-2021  04:18    <DIR>          Documents
24-11-2022  23:59    <DIR>          Downloads
19-11-2022  23:45            13,907 Exception Handling Class 2.ipynb
08-11-2022  21:26             9,192 Exception Handling Class1 Part1.ipynb
21-05-2021  04:09    <DIR>          Favorites
03-11-2022  00:26            10,428 For Loop & While Loops Revision.ipynb
03-11-2022  15:20            25,890 for loops while loop.ipynb
14-10-2022  00:42            10,742 FSDS_bootcamp_assignment_002_Oct_01.ipynb
28-10-2022  19:31             5,294 FSDS_bootcamp_assignment_004_Oct_09 (1).ipynb
07-11-2022  17:43            31,508 Function and holiday task.ipynb
06-11-2022  20:52            60,343 Function continued.ipynb
04-11-2022  02:08            18,716 function part1.ipynb
06-11-2022  00:28            62,066 function part2.ipynb
08-11-2022  14:44             1,763 functions task 20 question.txt
16-11-2022  23:44            11,903 glass.data
09-11-2022  22:09            43,659 holiday 20 assignment.ipynb
25-11-2022  22:43             8,192 ineuron.db
09-11-2022  17:43            23,501 Iterator Generator File System.ipynb
08-11-2022  02:20        21,685,761 iterator generator.ipynb
01-07-2021  23:12    <DIR>          Jedi
25-11-2022  19:04            12,288 jobdb.db
30-06-2021  14:39                 0 jupyter
12-05-2022  12:24    <DIR>          Links
26-10-2022  15:42             9,919 live_3demo_classes_ineuron_revision.ipynb
30-10-2022  00:07            16,593 live_classes_revision_29oct.ipynb
15-11-2022  22:24             5,993 logging (1).ipynb
10-11-2022  01:53             6,194 Logging class.ipynb
23-10-2022  00:20    <DIR>          Microsoft
19-11-2022  23:43            10,625 Module_Packages.ipynb
24-11-2022  16:59            75,694 mongo db class1 revision.ipynb
24-11-2022  20:39            57,341 mongodb class 1.ipynb
28-05-2022  11:32    <DIR>          Music
15-11-2022  22:55                 0 mydict.py
06-11-2022  23:23           163,679 nbextensions.ipynb
24-11-2022  17:09    <DIR>          OneDrive
13-11-2022  22:07            39,946 oops 29th .ipynb
15-11-2022  22:28            43,392 oops 30th.ipynb
19-11-2022  23:45            41,465 oops class 1.ipynb
13-11-2022  19:09            40,284 Oops class part2.ipynb
15-11-2022  22:29            44,127 OOPs Concepts Polymorphism revision.ipynb
19-11-2022  23:45            11,842 Oops part1 revision.ipynb
25-11-2022  22:44             8,192 person.db
23-06-2021  13:35            66,519 Pridiction Using Supervised ML.ipynb
24-10-2022  18:23            12,891 Programming_Assingment1.docx
11-11-2022  20:19    <DIR>          PycharmProjects
05-11-2022  21:58             6,891 Python Basic Assignment 3.ipynb
08-11-2022  20:09            12,206 Python Basic Assignment 4.ipynb
10-11-2022  21:05             5,807 Python Basic Assignment 5.ipynb
15-11-2022  02:10            10,370 Python Basic Assignment 6.ipynb
16-11-2022  19:53             5,038 Python Basic Program Assignment 6.ipynb
24-11-2022  17:23             5,372 Python Basic Program Assignment 7.ipynb
07-11-2022  16:48            11,860 Python Basic Programming Assignment 3.ipynb
11-11-2022  20:38             8,306 Python Basic Programming Assignment 4.ipynb
14-11-2022  00:30             6,153 Python Basic Programming Assignment 5.ipynb
03-11-2022  20:47            14,188 Python Basics Assignment 2.ipynb
19-11-2022  01:20            18,535 Python Basics Assignment 7.ipynb
24-11-2022  23:59            12,254 Python Basics Assignment 8.ipynb
30-10-2022  22:54             8,022 Python Basics Assignment_1.ipynb
01-11-2022  15:22             8,022 Python Basics Assignment1.ipynb
24-10-2022  19:21             4,080 Python Basics Program Assignment1.ipynb
27-10-2022  21:07             4,753 Python Basics Programming_Assignment_2.ipynb
21-05-2021  04:09    <DIR>          Saved Games
04-07-2021  01:33    <DIR>          seaborn-data
12-05-2022  12:24    <DIR>          Searches
23-11-2022  22:57                22 Setup.zip
18-11-2022  21:00            80,157 SQL basic .ipynb
19-11-2022  23:45           358,211 sql day 2 .ipynb
25-11-2022  22:43            85,520 SQL lite, map, reduce, filter,zip revision.ipynb
18-11-2022  19:21           118,377 SQL part 1 revision.ipynb
25-11-2022  16:21           315,007 SQL part2 revision.ipynb
25-11-2022  22:42            45,270 SQLLITE ,map ,reduce ,filter,zip.ipynb
28-07-2021  16:17           341,881 Statistics with data science project.ipynb
10-11-2022  01:52             1,807 test.log
03-07-2021  00:56             6,182 Test.png
08-11-2022  21:00                20 test.text
12-11-2022  15:45                 0 test1.py
13-11-2022  16:03                22 test1.txt
12-11-2022  20:51                 0 test2.py
13-11-2022  21:41                30 test2.tex
12-11-2022  15:39                 7 test3.py
12-11-2022  16:13                 0 test4.py
09-11-2022  20:02                 0 test43
24-06-2021  13:43            66,589 TSF GRIP Task 1 Imteyaz.ipynb
23-06-2021  14:11            66,518 TSF GRIP Task 1 Imteyaz-Copy1.ipynb
09-11-2022  19:26                22 tsst1.txt
06-07-2021  01:55             2,219 Tutorial 10- Seaborn- Countplot(), Violinplot(), Boxplot()- Part2.ipynb
03-07-2021  16:43           142,418 Tutorial 8- Matplotlib (Simple Visualization Library).ipynb
06-07-2021  01:46           355,324 Tutorial 9- Seaborn Tutorial- Distplot, Joinplot, Pairplot Part 1.ipynb
02-07-2021  19:54             5,906 Untitled.ipynb
21-10-2022  00:41                 0 untitled.txt
02-07-2021  22:10            14,709 Untitled1.ipynb
04-11-2022  18:57            19,366 Untitled10.ipynb
14-11-2022  23:35            12,197 Untitled11.ipynb
06-11-2022  21:12            11,238 Untitled12.ipynb
21-11-2022  01:34             3,746 Untitled13.ipynb
22-11-2022  20:43           130,669 Untitled14.ipynb
04-10-2022  11:20            14,811 Untitled2.ipynb
04-10-2022  11:12               711 Untitled3.ipynb
05-10-2022  21:35               576 Untitled4.ipynb
14-10-2022  00:57             1,579 Untitled5.ipynb
21-10-2022  23:29           172,211 Untitled6.ipynb
26-10-2022  17:27            15,421 Untitled7.ipynb
27-10-2022  00:43             1,329 Untitled8.ipynb
27-10-2022  19:16             2,164 Untitled9.ipynb
25-04-2022  08:56    <DIR>          Videos
22-05-2021  02:02                 0 where
24-11-2022  18:43         3,473,784 winrar-x64-611.exe
25-11-2022  16:18             5,947 Working with Python MongoDB Part1 revision.ipynb
             110 File(s)     57,619,999 bytes
              31 Dir(s)  188,766,040,064 bytes free

In [33]:
db = sqlite3.connect('ineuron.db')

In [34]:
c =db.cursor()

In [35]:
c.execute('drop table fsds')

In [36]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [37]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9CD5-FCE1

 Directory of C:\Users\mdimt

14-11-2022  15:31            36,257  12th Nov Live Class Functions revision.ipynb
25-11-2022  22:44    <DIR>          .
25-11-2022  22:44    <DIR>          ..
06-11-2022  21:59    <DIR>          .anaconda
06-11-2022  23:06    <DIR>          .conda
22-05-2021  01:35                25 .condarc
22-05-2021  01:35    <DIR>          .continuum
19-10-2022  20:09                53 .git-for-windows-updater
01-07-2021  23:01    <DIR>          .idlerc
25-11-2022  22:40    <DIR>          .ipynb_checkpoints
22-05-2021  01:39    <DIR>          .ipython
29-10-2022  16:59    <DIR>          .jupyter
06-06-2021  02:13    <DIR>          .matplotlib
26-10-2022  17:39    <DIR>          .spyder-py3
07-10-2022  21:43    <DIR>          .vscode
15-11-2022  22:42    <DIR>          __pycache__
28-10-2022  22:49        23,553,184 1.Python Fundamentals and Advanced Python.zip
14-11-2022  22:32            25,125 13th Nov Live Class Functions 4 revision.ipynb
25-11-2022  18:44    <DIR>          19.3 MongoDB
23-11-2022  20:02         4,407,102 19.3 MongoDB.7z
31-10-2022  17:35            21,059 29th Oct Live Class Function Basic Revision.ipynb
21-05-2021  04:09    <DIR>          3D Objects
22-05-2021  01:14    <DIR>          anaconda3
21-10-2022  00:42            10,061 Assignment_1.docx
18-11-2022  17:27            51,867 car.data
24-11-2022  16:37           628,633 carbon_nanotubes.csv
19-11-2022  23:43            19,879 class assignment oops.ipynb
21-05-2021  04:09    <DIR>          Contacts
01-07-2021  23:11    <DIR>          Credit Card Risk Assessment
20-10-2022  20:18            59,629 demo_002.ipynb
26-10-2022  15:57            57,559 demo_003.ipynb
20-10-2022  20:20            45,893 demo_2 live_classes_ineuron_revision.ipynb
15-11-2022  22:42                 0 dict.log
21-05-2021  04:18    <DIR>          Documents
24-11-2022  23:59    <DIR>          Downloads
19-11-2022  23:45            13,907 Exception Handling Class 2.ipynb
08-11-2022  21:26             9,192 Exception Handling Class1 Part1.ipynb
21-05-2021  04:09    <DIR>          Favorites
03-11-2022  00:26            10,428 For Loop & While Loops Revision.ipynb
03-11-2022  15:20            25,890 for loops while loop.ipynb
14-10-2022  00:42            10,742 FSDS_bootcamp_assignment_002_Oct_01.ipynb
28-10-2022  19:31             5,294 FSDS_bootcamp_assignment_004_Oct_09 (1).ipynb
07-11-2022  17:43            31,508 Function and holiday task.ipynb
06-11-2022  20:52            60,343 Function continued.ipynb
04-11-2022  02:08            18,716 function part1.ipynb
06-11-2022  00:28            62,066 function part2.ipynb
08-11-2022  14:44             1,763 functions task 20 question.txt
16-11-2022  23:44            11,903 glass.data
09-11-2022  22:09            43,659 holiday 20 assignment.ipynb
25-11-2022  22:44             8,192 ineuron.db
09-11-2022  17:43            23,501 Iterator Generator File System.ipynb
08-11-2022  02:20        21,685,761 iterator generator.ipynb
01-07-2021  23:12    <DIR>          Jedi
25-11-2022  19:04            12,288 jobdb.db
30-06-2021  14:39                 0 jupyter
12-05-2022  12:24    <DIR>          Links
26-10-2022  15:42             9,919 live_3demo_classes_ineuron_revision.ipynb
30-10-2022  00:07            16,593 live_classes_revision_29oct.ipynb
15-11-2022  22:24             5,993 logging (1).ipynb
10-11-2022  01:53             6,194 Logging class.ipynb
23-10-2022  00:20    <DIR>          Microsoft
19-11-2022  23:43            10,625 Module_Packages.ipynb
24-11-2022  16:59            75,694 mongo db class1 revision.ipynb
24-11-2022  20:39            57,341 mongodb class 1.ipynb
28-05-2022  11:32    <DIR>          Music
15-11-2022  22:55                 0 mydict.py
06-11-2022  23:23           163,679 nbextensions.ipynb
24-11-2022  17:09    <DIR>          OneDrive
13-11-2022  22:07            39,946 oops 29th .ipynb
15-11-2022  22:28            43,392 oops 30th.ipynb
19-11-2022  23:45            41,465 oops class 1.ipynb
13-11-2022  19:09            40,284 Oops class part2.ipynb
15-11-2022  22:29            44,127 OOPs Concepts Polymorphism revision.ipynb
19-11-2022  23:45            11,842 Oops part1 revision.ipynb
25-11-2022  22:44             8,192 person.db
23-06-2021  13:35            66,519 Pridiction Using Supervised ML.ipynb
24-10-2022  18:23            12,891 Programming_Assingment1.docx
11-11-2022  20:19    <DIR>          PycharmProjects
05-11-2022  21:58             6,891 Python Basic Assignment 3.ipynb
08-11-2022  20:09            12,206 Python Basic Assignment 4.ipynb
10-11-2022  21:05             5,807 Python Basic Assignment 5.ipynb
15-11-2022  02:10            10,370 Python Basic Assignment 6.ipynb
16-11-2022  19:53             5,038 Python Basic Program Assignment 6.ipynb
24-11-2022  17:23             5,372 Python Basic Program Assignment 7.ipynb
07-11-2022  16:48            11,860 Python Basic Programming Assignment 3.ipynb
11-11-2022  20:38             8,306 Python Basic Programming Assignment 4.ipynb
14-11-2022  00:30             6,153 Python Basic Programming Assignment 5.ipynb
03-11-2022  20:47            14,188 Python Basics Assignment 2.ipynb
19-11-2022  01:20            18,535 Python Basics Assignment 7.ipynb
24-11-2022  23:59            12,254 Python Basics Assignment 8.ipynb
30-10-2022  22:54             8,022 Python Basics Assignment_1.ipynb
01-11-2022  15:22             8,022 Python Basics Assignment1.ipynb
24-10-2022  19:21             4,080 Python Basics Program Assignment1.ipynb
27-10-2022  21:07             4,753 Python Basics Programming_Assignment_2.ipynb
21-05-2021  04:09    <DIR>          Saved Games
04-07-2021  01:33    <DIR>          seaborn-data
12-05-2022  12:24    <DIR>          Searches
23-11-2022  22:57                22 Setup.zip
18-11-2022  21:00            80,157 SQL basic .ipynb
19-11-2022  23:45           358,211 sql day 2 .ipynb
25-11-2022  22:43            85,520 SQL lite, map, reduce, filter,zip revision.ipynb
18-11-2022  19:21           118,377 SQL part 1 revision.ipynb
25-11-2022  16:21           315,007 SQL part2 revision.ipynb
25-11-2022  22:42            45,270 SQLLITE ,map ,reduce ,filter,zip.ipynb
28-07-2021  16:17           341,881 Statistics with data science project.ipynb
10-11-2022  01:52             1,807 test.log
03-07-2021  00:56             6,182 Test.png
08-11-2022  21:00                20 test.text
12-11-2022  15:45                 0 test1.py
13-11-2022  16:03                22 test1.txt
12-11-2022  20:51                 0 test2.py
13-11-2022  21:41                30 test2.tex
12-11-2022  15:39                 7 test3.py
12-11-2022  16:13                 0 test4.py
09-11-2022  20:02                 0 test43
24-06-2021  13:43            66,589 TSF GRIP Task 1 Imteyaz.ipynb
23-06-2021  14:11            66,518 TSF GRIP Task 1 Imteyaz-Copy1.ipynb
09-11-2022  19:26                22 tsst1.txt
06-07-2021  01:55             2,219 Tutorial 10- Seaborn- Countplot(), Violinplot(), Boxplot()- Part2.ipynb
03-07-2021  16:43           142,418 Tutorial 8- Matplotlib (Simple Visualization Library).ipynb
06-07-2021  01:46           355,324 Tutorial 9- Seaborn Tutorial- Distplot, Joinplot, Pairplot Part 1.ipynb
02-07-2021  19:54             5,906 Untitled.ipynb
21-10-2022  00:41                 0 untitled.txt
02-07-2021  22:10            14,709 Untitled1.ipynb
04-11-2022  18:57            19,366 Untitled10.ipynb
14-11-2022  23:35            12,197 Untitled11.ipynb
06-11-2022  21:12            11,238 Untitled12.ipynb
21-11-2022  01:34             3,746 Untitled13.ipynb
22-11-2022  20:43           130,669 Untitled14.ipynb
04-10-2022  11:20            14,811 Untitled2.ipynb
04-10-2022  11:12               711 Untitled3.ipynb
05-10-2022  21:35               576 Untitled4.ipynb
14-10-2022  00:57             1,579 Untitled5.ipynb
21-10-2022  23:29           172,211 Untitled6.ipynb
26-10-2022  17:27            15,421 Untitled7.ipynb
27-10-2022  00:43             1,329 Untitled8.ipynb
27-10-2022  19:16             2,164 Untitled9.ipynb
25-04-2022  08:56    <DIR>          Videos
22-05-2021  02:02                 0 where
24-11-2022  18:43         3,473,784 winrar-x64-611.exe
25-11-2022  16:18             5,947 Working with Python MongoDB Part1 revision.ipynb
             110 File(s)     57,619,999 bytes
              31 Dir(s)  188,766,040,064 bytes free

In [38]:
db.close()

In [39]:
db = sqlite3.connect('person.db')

In [40]:
c = db.cursor()

In [41]:
data = c.execute('select * from person_table limit 2')

In [42]:
for i in data :
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)

In [43]:
db.close()

In [44]:
db = sqlite3.connect('jobdb.db')

In [45]:
c = db.cursor()

In [46]:
c.execute('create table student(student_id int , student_name text , student_mailid text , marks int)')

OperationalError: table student already exists

In [47]:
c.execute('create table address(student_id int ,pincode int  , location text , nearby text , phone_no int)')

OperationalError: table address already exists

In [48]:
c.execute("insert into student values(234,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(235,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(236,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(237,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(238,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(239,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2310,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2311,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2343,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(23345,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")

In [49]:
c.execute("insert into address values(235 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [50]:
c.execute("insert into address values(236 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(237 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(238 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(239 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(210 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23654 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(235345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23665 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [51]:
for i in c.execute('select * from address'):
    print(i)

(235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [52]:
for i in c.execute('select * from student'):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [53]:
data = c.execute("select * from student s left join address a on s.student_id=a.student_id ")

In [54]:
for i in data:
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)

In [55]:
where a.student_id is not null

SyntaxError: invalid syntax (<ipython-input-55-0972313182fc>, line 1)

In [56]:
data = c.execute("select * from address s left join student a on s.student_id=a.student_id ")

In [57]:
for i in data :
    print(i)

(235, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)

In [58]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [59]:
c.execute('delete from student where student_id > 2000')

In [60]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [61]:
data = c.execute("select * from student")

In [62]:
data.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (236, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [63]:
c.execute("update student set student_id = 1000 where student_id = 236")

In [64]:
data = c.execute("select * from student")
data.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (1000, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [65]:
db.close()

In [66]:
l = [1,2,3,4,5,6]

In [67]:
def test(a):
    return a+5

In [68]:
l1=[]
for i in l:
    l1.append(i+5)

In [69]:
l1

[6, 7, 8, 9, 10, 11]

In [70]:
[i+5 for i in l]

[6, 7, 8, 9, 10, 11]

In [71]:
list(map(test, l))

[6, 7, 8, 9, 10, 11]

In [72]:
def test1(a): 
    return a*3454+454

In [73]:
list(map(test1,l))

[3908, 7362, 10816, 14270, 17724, 21178]

In [74]:
l1 = ['234','345','543','5435','543','5435']

In [75]:
def test2(a):
    return int(a)

In [76]:
test2('54656')

54656

In [77]:
list(map(test2,l1))

[234, 345, 543, 5435, 543, 5435]

In [78]:
list(map(lambda x :int(x),l1 ))

[234, 345, 543, 5435, 543, 5435]

In [79]:
list(map(lambda x:x+5,l))

[6, 7, 8, 9, 10, 11]

In [80]:
l

[1, 2, 3, 4, 5, 6]

In [81]:
l = [4,5,6,7,78,8,78]

In [82]:
def test4(a):
    if a%2==0:
        return a

In [83]:
[i for i in l if i%2 ==0]

[4, 6, 78, 8, 78]

In [84]:
list(filter(test4,l))

[4, 6, 78, 8, 78]

In [85]:
list(filter(lambda x:x%2==0,l))

[4, 6, 78, 8, 78]

In [86]:
list(filter(lambda x : x%3==0,l))

[6, 78, 78]

In [87]:
l

[4, 5, 6, 7, 78, 8, 78]

In [88]:
from functools import reduce

In [89]:
l =[3,4,5,6,7,3,8]

In [90]:
sum(l)

36

In [91]:
def test5(a,b): 
    return a+b

In [92]:
reduce(test5,l)

36

In [93]:
l=[8,5,6,7,8,8]

In [94]:
reduce(test5,l)

42

In [95]:
reduce(lambda x,y :x/y , l)

0.0005952380952380952

In [96]:
l = [1,2,3,4]
l1 = [4,5,6,7,7]
l2 = ["sudhanshu" , "kumar" , "krish" , "sunny" , "ineuron"]

In [97]:
list(zip(l,l1,l2))

[(1, 4, 'sudhanshu'), (2, 5, 'kumar'), (3, 6, 'krish'), (4, 7, 'sunny')]

In [ ]:
"""Task for today :
  dataset -   https://archive.ics.uci.edu/ml/datasets/Bag+of+Words
    
    q1 = try to find out a count of each and every word in a respective file return a list of tuple with word and its respective count 
       sample example -  [('sudh', 6 ) , ('kumar',3)]
    q2 = try to perform a reduce operation to get a count of all the word starting with same alphabet
        sample examle = [(a,56) , (b,34),...........]
    q3 = Try to filter out all the words from dataset . 
    
    .001.abstract = abstract
    =.002 = delete
    q4 = create a tuple set of all the records avaialble in all the five file and then store it in sqllite DB . 
    (aah,>=,354,fdsf,wer)
    
    Top 10 will be able to get kids neuron """